/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/css/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: #000;
}

#header {
  padding: 15px 0;
}
#header .container {
  padding: 0 50px;
}
#header .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .container .row .left img {
  object-fit: cover;
  background: red;
}

#search {
  border: 1px solid #7f7f7f;
  border-radius: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search input {
  width: 300px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 15px;
  background: transparent;
}
#search input::placeholder {
  color: #000;
  font-size: 20px;
}
#search i {
  background: #2e2d2d;
  color: #fff;
  padding: 13px 30px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  transition: 200ms all;
}
#search i:hover {
  background: #3a3939;
  transform: scale(1.1);
}

#category {
  background: red;
  padding: 0 15px;
}
#category .container ul {
  display: flex;
  justify-content: space-between;
}
